/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

.v-application {
    font-family:"Gothic A1", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-body-1 {
    font-family:"Gothic A1", sans-serif !important;
    font-optical-sizing: auto !important;
    font-size: 2rem !important;
    line-height: 2.8rem !important;
    font-style: normal !important;    
}

.text-body-2 {
    font-family:"Gothic A1", sans-serif !important;
    font-optical-sizing: auto !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-style: normal !important;    
}

.text-h1 {
    font-family:"Gothic A1", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500;
    font-size: 5rem !important;
    line-height: 5.5rem !important;
    font-style: normal !important;
}

.text-h2 {
    font-family:"Gothic A1", sans-serif !important;
    font-optical-sizing: auto !important;
    font-size: 3rem !important;
    line-height: 3.5rem !important;
    font-style: normal !important;
}

.text-h3 {
    font-family:"Gothic A1", sans-serif !important;
    font-optical-sizing: auto !important;
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    font-style: normal !important;
}

a {
    color: #1075bc;
    text-decoration: none;
}

// https://vuetifyjs.com/en/features/display-and-platform/#breakpoints-and-thresholds
// tablets and lower
@media (max-width: 959px) {
    .text-body-1 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
    
    .text-body-2 {
        font-size: 1.2rem !important;
        line-height: 1.7rem !important;
    }
    
    .text-h1 {
        font-size: 3rem !important;
        line-height: 3.5rem !important;
    }
    
    .text-h2 {
        font-size: 2.2rem !important;
        line-height: 2.7rem !important;
    }
    
    .text-h3 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }
}